/* styles.css */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .success-message {
    text-align: center;
  }
  
  .success-message img {
    width: 100px; /* Adjust size as needed */
    height: auto;
  }
  
  .success-message p {
    margin-top: 20px;
    font-size: 18px;
    color: green;
  }
  .continue-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(2, 255, 2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .continue-button:hover {
    background-color: darkgreen;
  }  