/* Letter.css */
.letter-container {
    max-width: 800px;
    margin-left: 25px ;
    padding: 20px;
    border: 2px solid #f68c0a;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  